.idea/
node_modules/

styles/index_style.scss
styles/index_style.css.map
styles/responsive_style.scss
styles/responsive_style.css.map
styles/shop_style.scss
styles/shop_style.css.map
styles/single_product_style.scss
styles/single_product_style.css.map
styles/single_product_responsive_style.scss
styles/single_product_responsive_style.css.map
styles/modal_window.scss
styles/modal_window.css.map

package.json
package-lock.json
