@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  color: #222;
  text-shadow: 0 0 5px #088178, 0 0 10px #088178, 2px 2px 5px rgba(0, 0, 0, 0.8);
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li:not(:last-child) a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  left: 20px;
  bottom: -4px;
}

#navbar li a img {
  width: 35px;
  height: 35px;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

p {
  font-size: 16px;
  color: #222;
  margin: 15px 0 20px 0;
}

#hero {
  background-image: url("img/hero.jpg");
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-position: top 0 right 0;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

#hero h1 {
  color: #088178;
}

#hero button {
  background-image: url("img/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  margin-left: 60px;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

.section-p1 {
  padding: 40px 80px;
}

#features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#features .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  transition: box-shadow 0.3s;
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#features .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.25);
  transition: 0.3s ease;
}

#features .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#features .fe-box h6 {
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#features .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#features .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

#features .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#features .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#features .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

/*# sourceMappingURL=style.css.map */
